* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 144rem;
  margin: auto;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
}
/********************
****** header *******
*********************/
.main-header {
  background-image: url(/images/bg-header-desktop.png);
}
.logo {
  margin-top: 8rem;
  margin-bottom: 4.8rem;
}
/********************
****** feature *******
*********************/

.feature-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 6.4rem;
  column-gap: 8rem;
  align-items: end;
  justify-items: center;
}
.pc-img {
  grid-row: span 4;
  width: 95%;
}
.feature {
  width: 60%;
}

/********************
****** devices *******
*********************/

.devices-img {
  margin-top: 6.4rem;
}

/********************
****** feature-in *******
*********************/
.feature-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 4.8rem;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 12.8rem;
}
.feature-in-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-in-logos {
  margin-bottom: 3.2rem;
}
.feature-in-box:first-child {
  margin-top: 2rem;
}

/********************
****** logos *******
*********************/
.logos {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos img {
  min-width: 0;
}

/********************
****** download apps *******
*********************/
.download-apps {
  margin-bottom: 12.8rem;
}

/********************
****** footer *******
*********************/
.footer {
  background-color: #f4f5ff;
  padding: 4.2rem 2.4rem;
}
.logo-company {
  width: 4.8rem;
  grid-row: 1/-1;
  justify-self: center;
  margin-right: 12.8rem;
}
.footer-links {
  text-align: start;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.6rem;
  column-gap: 2.4rem;
}
.footer-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: hsl(210, 10%, 33%);
}
.footer-link:hover {
  color: #34d5bd;
}
.social-icons {
  grid-column: 5;
  grid-row: 1/-1;
  justify-self: end;

  margin-right: 3.2rem;
  margin-left: auto;
}
.social-icons a {
  text-decoration: none;
  display: inline-block;
  margin-left: 2.4rem;
}
.footer-icons path:hover {
  fill: #34d5bd;
}

/*font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

/* spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
